<section class="intro text-center p-5">
  <img src="/assets/Suchit.jpg" alt="Suchit Parte" class="profile-img rounded-circle mb-3" width="200" />
  <h1>Hi, I'm Suchit Parte</h1>
  <h3>Information Technology Student</h3>
  <p class="lead">A software developer & enthusiast who loves building clean, creative, and user-friendly experiences.</p>


  <div class="mb-4">
    <a href="https://www.linkedin.com/in/suchit-parte-7b32ab35b/" target="_blank" class="btn btn-outline-light mx-2">
      <i class="bi bi-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/Suchit-05" target="_blank" class="btn btn-outline-light mx-2">
      <i class="bi bi-github"></i> GitHub
    </a>
  </div>

  <a href="/projects" class="btn btn-primary">View My Work</a>
</section>